html,body{ 
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, 1);
    color:#f0f0f0;
    text-shadow: red 0 0 10px;
    box-sizing:border-box;
    }

header,section,footer{
    display:block ;
    min-height:200px;
    padding-top:60px;
    padding-bottom:10px;
}
a{
    text-decoration: none;
    display: inline-block;
    color:#aaf;
}

footer {
    min-height:450px;
    background-image:url("https://alexeinemkov.github.io/images/tech-3041437_1280.jpg");
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding-top:210px;
    background-position:center center ;
    background-size:contain;
    background-repeat: no-repeat;
}
/*------------------------FONTS-----------------------------*/
/*красивый курсив как будто не слитно почти прописью*/
.classFont1 {
    font-family: 'Merienda', cursive;
}
/*забавный веселый курсив почти слитно почти прописью */
.classFont2 {
    font-family: 'Indie Flower', cursive;
}
/*красивый жирный курсив прописью*/
.classFont3 {
    font-family: 'Pacifico', cursive;
}
/*забавный веселый маленький шрифт курсив почти слитно почти прописью но печатными*/
.classFont4 {
    font-family: 'Gaegu', cursive;
}
/*забавный веселый курсив почти слитно почти прописью наклон влево как правша писал*/
.classFont5 {
    font-family: 'Gloria Hallelujah', cursive;
}
/*красивый курсив прописью слитно красиво для надписей*/
.classFont6 {
    font-family: 'Satisfy', cursive;
}
/*красиво печатными как человек писал*/
.classFont7 {
    font-family: 'Poor Story', cursive;
}
/*печатный шрифт диджитал квадратные буквы интересно*/
.classFont8 {
    font-family: 'Orbitron', sans-serif;
}
