html,body{ 
    font-family: 'Ubuntu Mono', monospace;
    /*font-family:'Poor Story', cursive;*/
    width: 100%;
    height: 100%;
    /*background-color: #ecf0f1;*/
    background-color:#000;
    color:#f2f2f2;
    }
.container{
}
header,section,footer{
display:block ;
}
a{
    text-decoration: none;
    display: inline-block;
}
#links {
    min-height:100px;
    padding-top:30px;
    display: block;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-image:url("images/planet-702177_1280.jpg");
    background-repeat:none;
    background-position:center center ;
    background-size:cover;
}

/*------------------------FONTS-----------------------------*/
/*красивый курсив как будто не слитно почти прописью*/
.classFont1 {
    font-family: 'Merienda', cursive;
}
/*забавный веселый курсив почти слитно почти прописью */
.classFont2 {
    font-family: 'Indie Flower', cursive;
}
/*красивый жирный курсив прописью*/
.classFont3 {
    font-family: 'Pacifico', cursive;
}
/*забавный веселый маленький шрифт курсив почти слитно почти прописью но печатными*/
.classFont4 {
    font-family: 'Gaegu', cursive;
}
/*забавный веселый курсив почти слитно почти прописью наклон влево как правша писал*/
.classFont5 {
    font-family: 'Gloria Hallelujah', cursive;
}
/*красивый курсив прописью слитно красиво для надписей*/
.classFont6 {
    font-family: 'Satisfy', cursive;
}
/*красиво печатными как человек писал*/
.classFont7 {
    font-family: 'Poor Story', cursive;
}
/*печатный шрифт диджитал квадратные буквы интересно*/
.classFont8 {
    font-family: 'Orbitron', sans-serif;
}
